/*csslint adjoining-classes:false, ids:false, box-model:false, outline-none:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

/* MAIN MENU STYLING */

.pure-menu,
.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: transparent;
    border: none;
    text-align: left;
}

/* remove borders for horizontal menus */
.pure-menu.pure-menu-horizontal,
.pure-menu.pure-menu-horizontal .pure-menu-heading {
    border: none;
}


/* LINK STYLES */

.pure-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    margin-left: 0.5em;
}

.pure-menu a,
.pure-menu .pure-menu-can-have-children > li:after {
    color: #fff;
}

.pure-menu .pure-menu-can-have-children > li:hover:after {
    color: #fff;
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.pure-menu .pure-menu-open {
    background: #dedede;
}

    .pure-menu a:hover,
    .pure-menu a:focus {
        background: rgb(43, 47, 51);
    }


/* DISABLED STATES */
.pure-menu li.pure-menu-disabled a:hover,
.pure-menu li.pure-menu-disabled a:focus {
    background: #fff;
    color: #bfbfbf;
}

.pure-menu .pure-menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.pure-menu .pure-menu-disabled > a,
.pure-menu .pure-menu-can-have-children.pure-menu-disabled > a:after {
    color: #bfbfbf;
}

    .nav-menu-button {
        display: none;
    }

/* HEADINGS */
.pure-menu .pure-menu-heading {
    color: #565d64;
    font-size: 90%;
    margin-top: 0.5em;
}

    .pure-menu-heading {
        border-bottom: none;
        color: rgb(145, 155, 166);
        text-transform: uppercase;
    }

/* ACTIVE MENU ITEM */
.pure-menu .pure-menu-selected a {
    color: #000;
}

/* FIXED MENU */
.pure-menu.pure-menu-open.pure-menu-fixed {
    border: none;
    border-bottom: 1px solid #b7b7b7;
}

/* LABELS AND TAGS */

    .email-count {
        color: rgb(145, 155, 166);
    }

    .email-label-personal,
    .email-label-work,
    .email-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    
    .email-label-work {
        background: #d409ef;
    }
    .email-label-personal {
        background: #ffc73e;
    }
    .email-label-travel {
        background: #40c54f;
    }

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-work {
        background: #d409ef;
    }
    .post-category-personal {
        background: #f2be3a;
    }
    .post-category-travel {
        background: #40c54f;
    }